<div class="right_col" style="min-height:700px" role="main">
  <form [formGroup]='columnForm' (ngSubmit)="saveTableData()">
  <div class="container">
    <div class="row">        
      <div class="col-xs-12">  
          <div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <span>{{pageTitle}}</span>                 
              </div>
              <div class="panel-body" >
                  <div class="form-group col-xs-12">                     
                      <div class="form-group col-xs-12">
                          <table class="table table-hover">
                              <thead>
                                <tr> 
                                  <th>SNo</th>                        
                                  <th scope="col">Column Name</th>
                                  <th scope="col">Data Type</th>
                                  <th scope="col">Is Display</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let column of tableColumns; let i = index">                       
                                  <td>{{i+1}}</td>
                                  <td>  
                                      {{column.CoulmnName}}
                                  </td> 
                                  <td>  
                                      {{column.Datatype}}
                                  </td> 
                                  <td>  
                                      {{column.IsDisplay}}
                                  </td>                         
                                </tr>   
                              </tbody>
                          </table> 
                      </div>
                      
                    <div class="form-group col-xs-24">
                        <div class="col-md-8">
                          <button class="btn btn-outline-secondary mr-3"
                                  style="width:80px"
                                  (click)="onBack()">
                            <i class="fa fa-chevron-left"></i> Back
                          </button>                                                   
                        </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
  </div>
</form>
</div>