<div class="right_col" style="min-height:700px" role="main">  
    <form [formGroup]='projectForm' (ngSubmit)="saveProject()">
    <div class="container">
      <div class="row">        
        <div class="col-xs-12">          
            <!--addresses-->
            <div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <span>{{pageTitle}}</span>                 
                </div>
                <div class="panel-body">                  
                  <div class="form-group col-xs-6">
                    <label>Project Name</label>
                    <input type="text" class="form-control" 
                           formControlName='name' 
                           [ngClass]="{'is-invalid': displayMessage.pname }">   
                           <span class="invalid-feedback">
                              {{displayMessage.pname}}
                            </span>                 
                  </div>  
                
                  <div class="form-group col-xs-6">
                      <label>Project Description</label>
                      <input type="textarea"  class="form-control" formControlName='description'>                      
                    </div>                     
                    <div class="form-group col-xs-1">
                        <div class="form-check form-check-inline">
                            <label>Active</label>
                            <input type="checkbox" class="form-control" formControlName='active'>
                        </div>
                      </div> 
                    
                </div>                
              </div>            
            </div>  
            <div class="margin-20">              
              <button type="button" class="btn btn pull-right" [routerLink]="['/projects']">Cancel</button>
              <button type="submit" class="btn btn-primary pull-right" [disabled]="!projectForm.valid">Submit</button>
            </div>
            <div class="clearfix"></div> 
        </div>
      </div>
    </div>
  </form>
</div>